.site-header {
  background: #FFEAAA;
}

/* DONE: Float the main header to the left, to make room for the
    hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

@media (max-width: 960px) {
  .icon-menu {
    /* TODO:DONE: Add styles for the icon-menu class (whether it be the
        hamburger font icon or an image of your choosing). It should be
        bigger, and off to the right. */
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
  }
  .main-nav:hover ul {
    display: block;
  }
}


.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  /* NOTE: We are by defualt hiding the main nav list because we are
      expecting the UI to be mobile, therefore our new icon menu
      takes its place. */
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}


.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

/* TODO: DONE: Now add styles for how things should look on a larger screen,
   (hint: min is in!):
@media screen...
         - DONE: Hide the hamburger.
         - DONE: Display our unordered list (aka our nav links).
         - DONE: The main-nav should be all on one row, with padding spaced better
           for a larger screen.
*/
@media (min-width: 961px) {
  .icon-menu {
    visibility: hidden;
  }
  .main-nav ul {
    display: block;
    display: flex;
    justify-content: space-around;
  }
  .main-nav li {
    display: inline;
    visibility: visible;
  }
}
